*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Optima;
}

:root {
    --primary-color: #fff;
    --secondary-color: rgb(157, 126, 222);
    /* --background-color: rgb(148, 148, 185); */
    --background-color: #191d2a;
  }

body{
    color: var(--primary-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
/* Add these styles to make the navbar horizontal */
.navbar {
    display: flex;
    align-items: center;
    list-style: none; /* Remove default list bullets */
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 35px; /* Add space between menu items */
  }
  
  /* Remove the margin from the last item to avoid extra spacing */
  .navbar li:last-child {
    margin-right: 0;
    
  }
  
.navbar a {
    display: inline-block;
    font-size: 25px;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: var(--secondary-color);
    scale: 135%;
    text-shadow:  0 0 40px var(--secondary-color);
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    
}

.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: var(--background-color);
    /* background-image: linear-gradient( 110.1deg,  rgba(30,2,83,1) 44.2%, rgba(198,55,160,1) 138.2% ); */
    /* background-image: url(../images/1.jpg) no-repeat center; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}

.home-content h3 span{
    /* color: var(--secondary-color);
     text-shadow:  0 0 40px var(--secondary-color);  */
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
}

.home-content h1{
    font-size: 60px;
    font-weight: 700;
    margin: -3px 0;
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.home-content p {
    font-size: 20px;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--secondary-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover{
    background: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 0 30px var(--secondary-color);
}
.btn-box {
    display: inline-block;
    padding: 12px 20px;
    background: var(--secondary-color);
    border-radius: 40px;
    font-size: 16px;
    color: var(--background-color);
    text-decoration: none;
}

.btn-box:hover{
    /* box-shadow: 0 0 5px var(--secondary-color),
    0 0 25px var(--secondary-color) 0 0 50px var(--secondary-color),
    0 0 100px var(--secondary-color), 0 0 200px var(--secondary-color); */
    box-shadow: 0 0 90px var(--secondary-color);
    color: rgb(255, 255, 255);
    scale: 115%;
    transition: 1s;
}

@keyframes slideRight {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}



/* glowing hover card made by: csozi | Website: english.csozi.hu*/

.card {
  position: relative;
  width: 190px;
  height: 254px;
  background: rgb(255, 0, 179);
  background: linear-gradient(137deg, rgb(255, 0, 179) 0%, rgba(0,212,255,1) 100%);
  transition: 0.3s ease;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 0.5));
}

.card::after {
  content: '';
  background-color: #181818;
  position: absolute;
  z-index: 1;
  transition: 0.3s ease;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  border-radius: 28px;
}

.card:hover {
  filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 1));
}

.norm-text{
font-size: 400px;
color: white;
position: absolute;
}
  
